nav.navbar.py-4.navbar-expand-lg.sticky-top
    .container-fluid
        a.h1.playfair.text-decoration-none.fw-bold.me-lg-4#navLogo(href="/") Chexkmate
        button.navbar-toggler.ms-auto(type="button" data-bs-toggle="collapse" data-bs-target="#togglePanel" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse.pt-4.pt-lg-0#togglePanel
            ul.navbar-nav.me-auto.mb-2.mb-lg-0#navUl
                li.nav-item
                    a.nav-link.active(href="#") Trang chủ
                li.nav-item
                    a.nav-link(href="#") Chơi
                li.nav-item
                    a.nav-link(href="#") Bài học
                li.nav-item
                    a.nav-link(href="#") Thử nghiệm
                li.nav-item
                    a.nav-link(href="#") FAQs